# Enable Python everywhere.
Options +ExecCGI
AddHandler cgi-script .cgi

# Enable mod_rewrite.
RewriteEngine On
Options +FollowSymLinks

# Redirect to main script.
RewriteRule ^$      survey.cgi      [PT,L]
