html,
body {
  margin: 40px 0;
  padding: 0;
}

body {
  background-color: #e8e8e8;
  color: #333333;
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Dejavu Sans", Verdana, sans-serif;
  font-size: 90%;
}

header,
main,
footer {
  margin: 0 auto;
  width: 620px;
}

a {
  color: #333333;
}

h1 {
  font-size: 240%;
  margin: 0 0 40px 0;
  text-shadow: 0 2px 1px #ffffff;
}

main {
  text-align: center;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin: 0;
}

section {
  background-color: #f8f8f8;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
  border: #cccccc solid 1px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px 0;
  text-align: left;
}

section.notifications,
.notification {
  background-color: #ffeebb;
  padding: 0.75em 20px;
}

section.notifications p {
  margin: 0.5em 0;
  padding: 0;
}

h2 {
  background-color: #eeeeee;
  border-bottom: #cccccc solid 1px;
  font-size: 110%;
  font-weight: bold;
  margin: 0;
  padding: 0.75em 20px;
  text-shadow: 0 2px 1px #ffffff;
}

section.name p {
  margin: 0;
  padding: 20px;
}

section.name input {
  width: 100%;
}

section.question p.notification {
  border-bottom: #cccccc solid 1px;
  margin: 0;
}

section.question ul {
  list-style: none;
  margin: 0;
  padding: 15px;
}

li {
  margin: 0.25em 0;
  padding: 0;
}

li input {
  margin-right: 0.5em;
}

label {
  padding: 0.25em 0.5em 0.25em 0;
}

label:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

section.result .score,
section.result .text {
  padding: 0;
  text-align: center;
}

section.result .score {
  font-size: 400%;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

section.result .text {
  font-style: italic;
  margin: 10px 0 20px 0;
}

.button-wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: inline-block;
  margin: 20px auto 0 auto;
  padding: 4px;
}

.button-wrapper:hover {
  padding: 5px;
}

a.button,
button {
  background-color: #83A94C;
  background-image: linear-gradient(to bottom, rgba(128, 192, 64, 0.9), rgba(96, 128, 64, 0.9));
  border: #aaaaaa solid 1px;
  border-radius: 8px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 1px 1px 3px rgba(0, 0, 0, 0.05);
  color: #f8f8f8;
  cursor: pointer;
  display: inline-block;
  font-size: 150%;
  font-weight: normal;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.button-wrapper:hover a.button,
.button-wrapper:hover button {
  background-image: linear-gradient(to bottom, rgba(128, 192, 64, 0.75), rgba(96, 128, 64, 0.75));
  color: #eeeeee;
  padding: 9px 19px;
}

footer {
  text-align: center;
}

footer small {
  opacity: 0.25;
}

footer:hover small {
  opacity: 1.0;
}

footer p {
  border-top: #cccccc solid 1px;
  display: inline-block;
  margin: 40px auto 20px auto;
  padding: 20px 0 0 0;
  text-shadow: 0 1px 1px #ffffff;
}
