html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eeeeee;
  color: #333333;
  font-family: Verdana, Helvetica, Arial, Sans-Serif;
  font-size: 0.9em;
  text-align: center;
}

#main {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 620px;
}

fieldset,
legend {
  border: #333333 solid 1px;
}
fieldset {
  background-color: #dddddd;
  margin: 1em 0;
  padding: 1em 1em 1em 2em;
}
legend {
  background-color: #cccccc;
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 0 0.5em -1em;
  padding: 0.2em 0.4em;
}
fieldset ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li input {
  margin-right: 0.5em;
}
label {
  padding: 0.15em 0.2em;
}
label:hover {
  background-color: #666666;
  color: #ffffff;
  cursor: pointer;
}

a {
  color: #aa0000;
}

.warning {
  color: #ff0000;
  font-weight: bold;
}
.result {
  font-size: 4em;
  font-style: italic;
  font-weight: bold;
  margin: 0;
}
