{% extends "layout.html" %}
{% set page_title = 'Questionnaire' %}
{% block body %}

      <form action="{{ url_for('evaluate', method='POST') }}" method="post">

        <fieldset>
          <legend>About you</legend>
          <strong>Your name:</strong> <input type="text" name="username" value="{{ username }}" size="32" maxlength="40"/>
        </fieldset>

        {% if submitted %}
        <fieldset>
          <legend>Errors</legend>
          <p class="warning">
            Only {{ questions.numberAnswered() }} of {{ questions|length }} questions were answered so far.<br/>
            The remaining {{ questions.numberUnanswered() }} questions must be answered for final evaluation.
          </p>
        </fieldset>
        {% endif %}

        {% for q in questions.getQuestions() %}
        <fieldset>
          <legend>{{ loop.index }}. {{ q.caption }}</legend>
          {% if submitted and not q.answered %}
          <p class="warning">This question has not been answered yet.</p>
          {% endif %}

          {% for a in q.getAnswers() %}
          <input type="radio" id="q_{{ q.hash }}__a_{{ a.hash }}" name="q_{{ q.hash }}" value="a_{{ a.hash }}"{% if a.selected %} checked="checked"{% endif %}/><label for="q_{{ q.hash }}__a_{{ a.hash }}">{{ a.caption }}</label><br/>
          {% endfor %}
        </fieldset>
        {% endfor %}

        <fieldset style="text-align: center;">
          <legend>Summary</legend>
          <input type="submit" value="Evaluate"/>
        </fieldset>

      </form>

{%- endblock body %}
