{% extends "layout.html" %}
{% set page_title = 'Questionnaire' %}
{% block body %}

      <form action="{{ url_for('evaluate', _method='POST') }}" method="post">

        <fieldset>
          <legend>About you</legend>
          <strong>Your name:</strong> <input type="text" name="username" value="{{ username }}" size="32" maxlength="40"/>
        </fieldset>

        {% if submitted -%}
        <fieldset>
          <legend>Errors</legend>
          <p class="warning">
            Only {{ questions.total_answered() }} of {{ questions|length }} questions were answered so far.<br/>
            The remaining {{ questions.total_unanswered() }} questions must be answered for final evaluation.
          </p>
        </fieldset>
        {% endif -%}

        {% for question in questions.get_questions() %}
        <fieldset>
          <legend>{{ loop.index }}. {{ question.caption }}</legend>
          {%- if submitted and not question.answered %}
          <p class="warning">This question has not been answered yet.</p>
          {%- endif %}
          <ul>
          {%- for answer in question.get_answers() %}
            <li><label><input type="radio" name="q_{{ question.hash }}" value="a_{{ answer.hash }}"{% if answer.selected %} checked="checked"{% endif %}/>{{ answer.caption }}</label></li>
          {%- endfor %}
          </ul>
        </fieldset>
        {% endfor %}

        <fieldset style="text-align: center;">
          <legend>Summary</legend>
          <input type="submit" value="Evaluate"/>
        </fieldset>

      </form>

{%- endblock body %}
